<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <!-- <h1></h1> -->
      <p>Feel free to express what's on your mind!</p>
    </header>
    <main>
      <div id="container">
        <h1>Add Message</h1>
      </div>
    </main>
  </body>
</html>
